{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@actions": "./src/actions",
          "@Layout": "./src/components/@Layout",
          "@Template": "./src/components/@Template",
          "@atoms": "./src/components/@atoms",
          "@molecules": "./src/components/@molecules",
          "@organisms": "./src/components/@organisms",
          "@components": "./src/components",
          "@hooks": "./src/hooks",
          "@lib": "./src/lib",
          "@reducers": "./src/reducers",
          "@sagas": "./src/sagas",
          "@store": "./src/store",
          "@actionTypes": "./src/actions/actionTypes.js",
          "@config": "./config"
        }
      }
    ]
  ]
}
